* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
}
.clear{
  clear: both;
}
.header{
  background-color: #f96332;
  width: 100%;
  height: 60px;
}

/*  Hamburger Menu */
 #menuToggle{
  display: block;
  float: left;
  padding: 14px 16px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  top: 5px;
  left: 18px;
 }
 
 #menuToggle > input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 9px;
	left: 11px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
 }
 

 #menuToggle > span{
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:#ffffff;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle > .span_mid{
  width: 26px;
 }
 
 #menuToggle > span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle > span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
  
  /* Transforming lines of hamburger into a crossmark. */
 #menuToggle > input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #ffffff;
 }
 
 /* hiding the middle line. */
 #menuToggle > input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 
/* Changing direction of line.  */
 #menuToggle > input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 


 #menuToggle > input:checked ~ ul
 {
   transform: none;
 }




.navbar_left{
  width: 17%;
  float: left;
}

.navbar_left_label{
  line-height: 60px;
  color: white;
  margin-left: 60;
  float: right;
}

.navbar_center{
  float: left;
  width: 50%;
  text-align: center;
  padding-left: 15%;
  box-sizing: border-box;
  height: 60px;
  padding-top: 20px;
}


.navbar_right{
  float: right;
  width:20%;
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  margin-right: 20px;
}



.navbar_mobile{
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  box-sizing: border-box;
  padding-top: 16px;
}

.navbar_mobile_back{
  float: left;
  width: 18%
}
.navbar_mobile_comment{
  float: left;
  width: 20%
}
.navbar_mobile_font{
  float: left;
  width: 20%;
  font-size: 25px;
}
.navbar_mobile_bookmark{
  float: left;
  width: 20%
}
.navbar_mobile_fullscreen{
  float: left;
  width: 20%
}


.navbar_right_font{
  float: left;
  width: 25%;
  color: #ffffff;
  font-size: 24px;
  margin-top: 16px;
}
.navbar_right_search{
  float: left;
  width: 25%;
  margin-top: 20px;
}
.navbar_right_profile{
  float: left;
  width: 25%;
  margin-top: 16px;
}
.navbar_right_bookmark{
  float: left;
  width: 25%;
  margin-top: 18px;
}


.header_banner{
  background-image: url(http://via.placeholder.com/1920x1080);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}
.header_banner_div{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
}
.header_banner_label{
  font-family: lato;
  font-size: 30px;
  font-weight: 900;
  color: #2C3A47;
  text-align: left;
  margin-right: 10px;
}
.header_banner_icons{
    margin-top: 40px;
}
.header_banner_icons_div{
  float: left;
  margin-right: 10px;
}
.header_banner_icons_img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f96332;
  box-sizing: border-box;
  padding: 7px;
  box-shadow: 2px 1px 8px #888888;
  cursor: pointer;
}

.content_section{
  width: 94%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.content1_details{
  font-size: 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 40px;
}
.content1_broadcast{
  float: left;
  margin-right: 30px;
  box-sizing: border-box;
}
.content1_broadcast > img{
  float: left;
  margin-right: 5px;
}
.content1_broadcast > .content1_broadcast_label{
  float: left;
  padding-top: 6px;
}
.content1_time{
  float: left;
  box-sizing: border-box;
}
.content1_time > img{
  float: left;
  margin-right: 10px;

}
.content1_time > .content1_time_label{
  float: left;
  padding-top: 6px;
}
.content1_environment{
  float: right;
  padding-top: 6px;
}

.content1_text{
  text-align: left;
  line-height: 2;
}
.horizontal_line{
  margin: 40px auto;
  text-align: center;
  height: 2px;
  width: 30px;
  background-color: #f96332;
}
.content1_environment_underline{
  height: 2px;
  background-color: #bdc3c7;
  margin-top: 5px;
}

.image_stack_container{
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.image_stack_div{
  box-sizing: border-box;
  overflow: auto;
  height: 300px
}
.image_stack_1{
  position: absolute;
  height: 200px;
  width: 54%;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 35px 0px;
  background-image: url(http://via.placeholder.com/700x400);
  background-position: center;
  float: left;
  margin-top: 50px;
}
.image_stack_2{
  position: absolute;
  height: 200px;
  width: 54%;
  box-sizing: border-box;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 35px 0px;
  background-image: url(http://via.placeholder.com/700x400);
  background-position: center;
  right: 0;
  margin-right: 4%;
}
.image_stack_3{
  box-sizing: border-box;
  z-index: 4;
  overflow: auto;
  width: 100%;
  border-left: 2px solid #f96332;
  padding: 5px 0px 5px 20px;
  margin-bottom: 40px;
}
.image_stack_3_text{
  color: #f96332;
  text-align: left;
}
.image_stack_text_ques{
font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
}
.image_stack_text_ans1{
  text-align: left;
}
.image_stack_video{
  margin-top: 40px;
  margin-bottom: 40px;
  position: absolute;
  left: 0;
}
.image_stack_video > iframe{
  height: 230px;
  width: 100%;
}
.image_stack_text_ans2{
  margin-top: 320px;
  text-align: left;
}
.next_story{
  background-color: #ecf0f1;
  box-sizing:  border-box;
  text-align:  center;
  padding-top: 80px;
  padding-bottom:  80px;
}
.next_story_label{
  margin-bottom: 40px;
  font-size: 14px;
  color: #7f8c8d;
  cursor: pointer;
}
.next_story_heading{
  font-family: Lato;
  font-size: 21px;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}
.next_symbol{
  font-size: 50px;
  color: #f96332;
  font-weight: 300;
  cursor: pointer;
}
input {
  -webkit-appearance: none;
  box-shadow: none !important;
}
:-webkit-autofill{
  color: #fff !important;
}
.subscribe{
  box-sizing: border-box;
  text-align: center;
  background-color: #f96332;
  padding-top: 80px;
  padding-bottom: 70px;
}
.subscribe_label{
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}
.subscribe_text{
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 60px;
}
.email_box > input{
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border-radius: 26px;
  border: 0px;
  font-size: 16px;
  background-image: url('../img/mail.png');
  background-color: rgba(255, 255, 255,0.2);
  background-position: 20px 13px;
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-right: 10px;
  margin-bottom: 20px;
  outline: none;
  color: #ffffff;
  font-weight: 500;
}
.subscribe_button{
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 26px;
  background-color: #ffffff;
  cursor: pointer;
  color: #f96332;
  font-weight: 500;
}
.email_box > input::placeholder{
  color: #ffffff;
  font-weight: 500;
}
.footer{
  background-color: #E3E3E3;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  font-size: 14px;
}
.footer_div{
  width: 85%;
  margin: 0 auto;
  line-height: 80px;
}
.footer_left{
  float: left;
  width: 60%;
}
.footer_aboutus{
  float: left;
  cursor: pointer;
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: #A3A3A3;
}
a:hover{
  color: #595959;
}
.footer_terms{
  float: left;
  cursor: pointer;
  margin-right: 30px;
}
.footer_privacy{
  float: left;
  cursor: pointer;
}
.footer_right{
  float: right;
  width: 39%;
  color: #A3A3A3;
}
.footer_copyright{
  float: right;
}
.footer_social_icons{
  float: right;
  width: 40%;
  padding-right: 3%;
  color: #A3A3A3;
}
.footer_fb{
  margin-right: 20px;
  cursor: pointer;
}
.footer_twitter{
  margin-right: 20px;
  cursor: pointer;
}
.footer_insta{
  margin-right: 20px;
  cursor: pointer;
}

.footer_fb:hover{
  color: #3C3C3C;
}
.footer_twitter:hover{
  color: #3C3C3C;
}
.footer_insta:hover{
  color: #3C3C3C;
}
.comment_section{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 50px;
}
.comment_header{
  height: 130px;
  background-color: #f96332;
  margin-bottom: 40px;
}
.comment_header_width{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.comment_header_left_div{
  float: left;
  font-family: Lato;
  font-size: 36px;
  color: #ffffff;
  font-weight: 500;
  line-height: 130px;
}
.comment_header_numb{
  float: left;
}
.comment_header_label{
  float: left;
}
.comment_header_right_div{
  display: flex;
  justify-content: flex-end;
  float: right;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  padding-top: 46px;
  padding-bottom: 42px;
  width: 40%;
}
.comment_header_best{
  float: right;
  width: 32%;
  border: 1px solid;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 20px;
  margin-right: 10px;
}
.comment_header_newest{
  float: right;
  width: 32%;
  border: 1px solid;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 20px;
  margin-right: 10px;
}
.comment_header_oldest{
  float: right;
  width: 32%;
  border: 1px solid;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 20px;
}
.comment_body{
  box-sizing: border-box;
  overflow: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 30px;
  margin-bottom: 30px;

}
.comment_pic{
  float: left;
  margin-right: 3%;
}
.comment_data{
  float: left;
  line-height: 1.7;
  width: 56%;
  margin-right: 2%;
}
.comment_name{
  font-weight: 600;
}
.comment_info{
  float: right;
  padding-top: 14px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.comment_timestamp{
  float: left;
  margin-right: 12%;
}
.comment_timestamp > img{
  float: left;
  margin-right: 10px;
}
.comment_time{
  float: left;
  padding-top: 2px;
  font-size: 14px;
}
.comment_likes{
  float: left;
  padding-top: 1px;
}
.heart{
  color: #ffaaaa;
  float: left;
  margin-right: 8px;
}
.heart:hover{
  color: red;
}
.comment_likes_count{
  float: left;
  position: relative;
  top: -1px;
}
.comment_input{
  width: 70%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
#comment_value{
  box-sizing: border-box;
  width: 56%;
  height: 50px;
  border-radius: 26px;
  border: 1px solid #f96332;
  font-size: 16px;
  background-image: url('../img/attach.png');
  background-position: 20px 13px;
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-right: 10px;
  margin-bottom: 20px;
  outline: none;
  font-weight: 500;
}

#submit{
  box-sizing: border-box;
  width: 20%;
  height: 50px;
  border-radius: 26px;
  border: 1px solid #f96332;
  font-size: 16px;
  background-position: 20px 13px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  outline: none;
  font-weight: 500;
  color: #ffffff;
  background-color: #f96332;
  cursor: pointer;
  margin-left: 50px;
}
.comment_input > input::placeholder{
    color: #f96332;
    font-weight: 500;
}

 /*    BreakPoints:
    ===============
    mobile:  320px
    tablet:  740px
    desktop: 980px
    wide:    1300px
  */


/*Desktop*/
@media (min-width: 61.25em) {
  .navbar_mobile{
    display: none;
  }
  .header_banner{
    height: 600px;
  }
  .header_banner_div{
    width: 80%;
  }
  .header_banner_label{
    float: left;
    width: 75%;
    font-size: 40px;
  }
  .header_banner_icons{
    float: right;
    margin-right: 30px;
  }
  .content_section{
    width: 100%;
  }
  .content1_details{
    width: 80%;
  }
  .content1_environment{
    margin-right: 30px;
  }
  .content1_text{
    width: 100%;
    text-align: left;
  }
  .content1_text_div{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .image_stack_div{
    height: 390px;
  }
  .image_stack_1{
    width: 56%;
    height: 400px;
    z-index: 4;
    margin-top: 0px;
  }
  .image_stack_2{
    width: 56%;
    height: 400px;
    z-index: 3;
    margin-top: 85px;
    margin-right: 0px;
  }
  .image_stack_3{
    position: absolute;
    width: 30%;
    z-index: 2;
    border: 2px solid #f96332;
    padding: 45px 85px 30px 24px;
    left: 18%;
  }
  .image_stack_3_text{
    text-align: left;
  }
  .image_stack_3_text > span {
    font-weight: bold;
    font-size: 16px;
  }
  .image_stack_text{
    width: 40%;
    float: right;
    margin-right: 8%;
  }
  .image_stack_text_ques{
    margin-top: 150px;
  }
  .image_stack_video{
    margin-top: 400px;
  }
  .image_stack_video > iframe{
    height: 265px;
    width: 475px;
  }
  .image_stack_text_ans2{
    display: none;
  }
  .image_stack_text_ans1_desktop{
    display: block;
  }
  .next_story{
    display: none;
  }
}

/* Tablet to desktop css*/
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .navbar_mobile{
    display: none;
  }
  .navbar_right_font{
    display: none;
  }
  .navbar_right_search{
    width: 32%;

  }
  .navbar_right_profile{
    width: 32%;
  }
  .navbar_right_bookmark{
    width: 32%;
  }
  .header_banner{
    height: 600px;
  }
  .header_banner_div{
    width: 94%;
  }
  .header_banner_label{
    float: left;
    width: 75%;
    font-size: 35px;
    margin-left: 3%;
  }
  .header_banner_icons{
    float: right;
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  .image_stack_div{
    height: 350px;
  }
  .image_stack_1{
    height: 250px;
  }
  .image_stack_2{
    height: 250px;
  }
  .image_stack_3{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .image_stack_3_text{
    text-align: left;
  }
  .image_stack_3_text > span {
    font-weight: bold;
    font-size: 16px;
  }
  .image_stack_text_ans2{
    margin-top: 0px;
  }
  .image_stack_video{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: static;
    right: 0;
  }
  .image_stack_video > iframe{
    height: 300px;
  }
  .image_stack_text_ans1_desktop{
    display: none;
  }
  .footer{
    display: none;
  }
  .comment_section{
    display: none;
  }

}

/* Mobile to Tablet css*/
@media (min-width: 20em) and (max-width: 46.24em) {
  .navbar_left{
    display: none;
  }
  .navbar_center{
    display: none;
  }
  .navbar_right{
    display: none;
  }
  .header_banner_icons{
    display: none;
    float: none;
  }
  .header_banner_label{
    float: none;
  }
  .header_banner_label{
    margin-right: 0;
  }
  .content1_details{
    font-size: 12px;
  }
  .content1_broadcast{
    margin-right: 20px;
  }
  .content1_broadcast > .content1_broadcast_label{
    padding-top: 6px;
  }
  .content1_time > .content1_time_label{
    padding-top: 6px;
  }
  .content1_environment{
    padding-top: 6px;
  }
  .image_stack_video{
    right: 0
  }
  .image_stack_text_ans1_desktop{
    display: none;
  }
  .horizontal_line{
    display: none;
  }
  .subscribe{
    display: none;
  }
  .footer{
    display: none;
  }
  .comment_section{
    display: none;
  }
}

/* Very small mobile, less than 320px */
@media (max-width: 20em) {
  #menuToggle{
    display: block;
  }
  .navbar_left_label{
    display: none;
  }
  .navbar_center{
    display: none;
  }
  .navbar_right{
    display: none;
  }

  .navbar_mobile{
    display: none;
  }
  .header_banner_icons{
    display: none;
  }
  .content1_environment{
    display: none;
  }
  .image_stack_text_ans1_desktop{
    display: none;
  }
  .horizontal_line{
    display: none;
  }
  .subscribe{
    display: none;
  }
  .footer{
    display: none;
  }
  .comment_section{
    display: none;
  }
}